body {
  background-color: #bfdfe6;
  /* color: #a7dbe5; */
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body > h1 {
  margin-top: 0;
  background-color: #000;
  padding: 1em;
  text-align: center;
}

.strip {
  margin: 28px 0 0px 0;
}

.text-center {
  text-align: center;
}

my-app {
  display: block;
  --mdc-theme-primary: orange;
  --mdc-theme-primary-light: #f5e16e;
  --mdc-theme-primary-dark: rgb(192, 125, 0);
  --mdc-theme-secondary: #018786;
  --mdc-theme-secondary-light: #02cecc;
  --mdc-theme-secondary-dark: #004040;
  --mdc-theme-background: #fff;
  --mdc-theme-text-primary-on-primary: #fff;
  --mdc-theme-text-secondary-on-primary: hsla(0,0%,100%,.7);
  --mdc-theme-text-hint-on-primary: hsla(0,0%,100%,.5);
  --mdc-theme-text-disabled-on-primary: hsla(0,0%,100%,.5);
  --mdc-theme-text-icon-on-primary: hsla(0,0%,100%,.5);
  --mdc-theme-text-primary-on-primary-light: rgba(0,0,0,.87);
  --mdc-theme-text-secondary-on-primary-light: rgba(0,0,0,.54);
  --mdc-theme-text-hint-on-primary-light: rgba(0,0,0,.38);
  --mdc-theme-text-disabled-on-primary-light: rgba(0,0,0,.38);
  --mdc-theme-text-icon-on-primary-light: rgba(0,0,0,.38);
  --mdc-theme-text-primary-on-primary-dark: #fff;
  --mdc-theme-text-secondary-on-primary-dark: hsla(0,0%,100%,.7);
  --mdc-theme-text-hint-on-primary-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-disabled-on-primary-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-icon-on-primary-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-primary-on-secondary: #fff;
  --mdc-theme-text-secondary-on-secondary: hsla(0,0%,100%,.7);
  --mdc-theme-text-hint-on-secondary: hsla(0,0%,100%,.5);
  --mdc-theme-text-disabled-on-secondary: hsla(0,0%,100%,.5);
  --mdc-theme-text-icon-on-secondary: hsla(0,0%,100%,.5);
  --mdc-theme-text-primary-on-secondary-light: rgba(0,0,0,.87);
  --mdc-theme-text-secondary-on-secondary-light: rgba(0,0,0,.54);
  --mdc-theme-text-hint-on-secondary-light: rgba(0,0,0,.38);
  --mdc-theme-text-disabled-on-secondary-light: rgba(0,0,0,.38);
  --mdc-theme-text-icon-on-secondary-light: rgba(0,0,0,.38);
  --mdc-theme-text-primary-on-secondary-dark: #fff;
  --mdc-theme-text-secondary-on-secondary-dark: hsla(0,0%,100%,.7);
  --mdc-theme-text-hint-on-secondary-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-disabled-on-secondary-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-icon-on-secondary-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-primary-on-background: rgba(0,0,0,.87);
  --mdc-theme-text-secondary-on-background: rgba(0,0,0,.54);
  --mdc-theme-text-hint-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-disabled-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-icon-on-background: rgba(0,0,0,.38);
  --mdc-theme-text-primary-on-light: rgba(0,0,0,.87);
  --mdc-theme-text-secondary-on-light: rgba(0,0,0,.54);
  --mdc-theme-text-hint-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-disabled-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-icon-on-light: rgba(0,0,0,.38);
  --mdc-theme-text-primary-on-dark: #fff;
  --mdc-theme-text-secondary-on-dark: hsla(0,0%,100%,.7);
  --mdc-theme-text-hint-on-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-disabled-on-dark: hsla(0,0%,100%,.5);
  --mdc-theme-text-icon-on-dark: hsla(0,0%,100%,.5);
}